{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 class="text-center">Gestion imprimante</h2>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#printers" data-toggle="tab">Imprimantes</a></li>
            
            <li><a href="#cartridges" data-toggle="tab">Stock cartouches</a></li>
        </ul>
    </div>
</div>


<div class="tab-content">
  <div id="printers" class="tab-pane fade in active">
    <table class="table table-bordered table-striped table-condensed">
   <caption>
      <h4>Liste des Imprimantes en services</h4>
   </caption>
   <thead>
      <tr>
            <th>Nom</th>
            <th>Adresse Ip</th>
            <th>Localisation</th>
            <th>Date d'achat</th>
      </tr>
   </thead>
   <tbody>
   {% for printer in printers %}
   <tr>
    <td>{{printer.name}}</td>
    <td>{{printer.ip}}</td>
    <td>{{printer.location}}</td>
    <td>{{printer.achat}}</td>
   </tr>
    {% else %}
        No comments printers
    {% endfor %}
    </tbody>
</table>


<h3>Add a printer</h3>
    {% if printerForm %}
        {{ form_start(printerForm) }}
            <div class="form-group">
                {{ form_errors(printerForm.name) }}
                {{ form_widget(printerForm.name, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your printer'
                }}) }}
            </div>
            <div class="form-group">
            {{ form_errors(printerForm.ip) }}
                {{ form_widget(printerForm.ip, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your printer ip'
                }}) }}
            </div>
            <div class="form-group">
            {{ form_errors(printerForm.location) }}
                {{ form_widget(printerForm.location, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter location of the printer'
                }}) }}
            </div>
            <div class="form-group">
            {{ form_errors(printerForm.achat) }}
                {{ form_widget(printerForm.achat, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter purchase date'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publish comment" />
            </div>
        {{ form_end(printerForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login')}}">Log in</a> to add printers.
    {% endif %}
  </div>



  <div id="cartridges" class="tab-pane fade">
  <table class="table table-bordered table-striped table-condensed">
   <caption>
      <h4>Stock des cartouches</h4>
   </caption>
   <thead>
      <tr>
            <th>Type d'imprimante</th>
            <th>type de Cartouche</th>
            <th>Nom de Cartouche</th>
            <th>Quantite en stock</th>
      </tr>
   </thead>
   <tbody>
   {% for cartridge in cartridges %}
   <tr>
    <td>{{cartridge.printerstype}}</td>
    <td>{{cartridge.inktype}}</td>
    <td>{{cartridge.inkname}}</td>
    <td>{{cartridge.quantite}}</td>
   </tr>
    {% else %}
        No comments cartridges
    {% endfor %}
    </tbody>
</table>
   
  </div>
  
</div>



{% endblock %}